:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 1px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.header img {
  margin: 0 16px;
}

/* Structure */
.example-container {
position: relative;
min-height: 200px;
max-height: auto;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 123px;
}

.table-footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #1976d2;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-footer img.left {
  max-height: 95%;
  max-width: 50%;
  float: left;
}

.table-footer img.right {
  max-height: 100%;
  max-width: 50%;
}

.table-footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  border-right: 1px solid #fff;
  padding-right: 15px;
  font-weight: 600;
}

.table-footer a:last-child {
  border-right: none;
  padding-right: 0;
  font-weight: 600;
}

.header-buttons-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: 200px;
  margin: 0 10px; /* add margin between the two buttons */
  margin-top: 15px;
}

.mat-select-trigger {
  font-size: 14px;
  height: 30px;
  line-height: 1.5;
  padding: 0 12px;
}

.download-button {
  width: 190px;
  height: 80px;
}

.filter-button {
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px;
}

.header-buttons-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  align-self: center; /* added align-self property */
}

.left {
  position: absolute;
  bottom: 0;
  left: 0;
}


.right {
  position: absolute;
  bottom: 0;
  right: 0;
}